@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body {
    font-family: 'Roboto Mono', monospace;
    background-color: #F1EFEF;
}

p {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
}

#container {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.locationPanel {
    width: 200px;
    height: 360px;
    padding: 32px;
    margin: 16px;
    background-color: #FEF9F9;
    border-radius: 16px;
}

.mainIcon:after {
    content: '🏠';
    font-size: 32px;
}

.backyardIcon:after {
    content: "🌴";
    font-size: 32px;
}

.locationName {
    font-size: 28px;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
    text-transform: uppercase;
}